body{
    margin: 0;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lucida Handwriting';
}
.spacebetween{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vh;
    background-color: white;
    color:cornflowerblue
}
.navbar a,.navbar a:visited{
    text-decoration: none;
    color:cornflowerblue
}
#hero{
    padding: 15px;
    justify-content: center;
}
#hero h1{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #d663c1;

}
#h-panel{
    display: flex;
    flex-direction: row;
}
#v-panel{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    /* Add only right and bottom borders */
    border-right: 3px solid #d663c1;
    border-bottom: 3px solid #d663c1;
}
#h-panel2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#v-panel2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #d663c1;
    color: black;
    /* Add only right and bottom borders */
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}
#aboutMe{
    padding: 15px;
    justify-content: center;
}
#aboutMe p{
    font-family: 'Lucida Handwriting';
}
#footer {
    display: flex;

    justify-content: center;
    align-items: end;
    color: black;
    background-color: white;
}

.contactme div, #contactform form{
    display: flex;
    flex-direction: column;

}
#contactform form div{
    display: flex;
    flex-direction: row;

}
.form{
    width: 60vw;
    margin: auto;
}
.project{
    margin: 5vw;
    border-radius: 10px;
    padding: 10px;
    /* Add only right and bottom borders */
    border-left: 3px solid #d663c1;
    border-right: 3px solid #d663c1;
    border-bottom: 3px solid #d663c1;
}
@media (max-width: 600px) {

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    background-color: white;
    color:cornflowerblue
}

.navbar a{
    font-size: smaller;
}
#h-panel{
    display: flex;
    flex-direction: column;
}
#h-panel2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#contactform form div{
    display: flex;
    flex-direction: column;

}
}